{% extends "portfolio/base.html" %}

{% block title %}Projetos{% endblock %}


{% block content %}
    <h2>Projetos</h2>

     <div class="card">
        <a href="{% url 'projeto_novo' %}">Novo Projeto</a>
    </div>

    {% for projeto in projetos %}
        <div class="card">
             <a href="{% url 'projeto' projeto.id %}">{{ projeto.titulo }}</a>
               <br>
             <a href="{% url 'edita_projeto' projeto.id %}">Editar</a>
        </div>
    {% empty %}
        <div class="card">
            <p>Sem projetos.</p>
        </div>
    {% endfor %}
{% endblock %}